<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Club Edit</title>
</head>
<body class="d-flex flex-column h-100">

<main class="flex-shrink-0">

  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="text-center mb-5 mt-5">
      <h1 class="fw-bolder">Edit Run Club</h1>
      <p class="lead fw-normal text-muted mb-0">Edit your run club</p>
    </div>
    <div class="container" style="display: flex; justify-content: center">
      <form class="row g-3 col-6" role="form" method="post" th:action="@{/clubs/{clubID}/edit(clubID=${club.id})}" th:object="${club}" style="background: #cbccce; border-radius: 6px; padding: 20px">
        <input type="hidden" th:field="*{id}">
        <div class="col-md-12">
          <label for="title" class="form-label">Title</label>
          <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:field="*{title}"
                  placeholder="Title"
          >
          <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>

        </div>
        <div class="col-md-12">
          <label for="photo" class="form-label">PhotoURL</label>
          <input
                  type="text"
                  class="form-control"
                  id="photo"
                  name="photo"
                  th:field="*{photoUrl}"
                  placeholder="PhotoURL"
          >
          <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
        </div>
        <div class="col-12">
          <label for="content" class="form-label">Content</label>
          <input
                  type="text"
                  class="form-control"
                  id="content"
                  name="content"
                  th:field="*{content}"
                  placeholder="Content">
          <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </section>

</main>

</body>
</html>